html 
    body
        h1 Каталог самоубийц
        if req.session.loggedin
            div
                a(href='/suicides/p') Каталог
            div
                a(href='/login/logout') Выйти
        else 
            a(href='/login') Для просмотра авторизуйтесь

