<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Авторизация</title>
    </head>
    <body>
        <div>
        h1=title
        <form method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit">
        </form>
        </div>
    </body>
</html>